[defaults]
inventory = inventory
vault_password_file = ./.vault_pass
interpreter_python = auto_silent
retry_files_enabled = false
callback_result_format = yaml
# The documentation fragment roles/truenas's modules extend, for ansible-doc (make lint-module-docs).
doc_fragment_plugins = roles/truenas/doc_fragments

[ssh_connection]
pipelining = true
